*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  color: #4d5659;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 30px 0;
  color: #000;
  line-height: 1.25;
}

p {
  margin: 0 0 30px 0;
}

a {
  cursor: pointer;
  color: #00b0e9;
  text-decoration: none;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  outline: 0;
}

.button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
}

.login {
  background: #ccc;
  position: fixed; top: 0; right: 0; bottom: 0; left: 0;
  z-index: 200;
}

.content {
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 0;
  width: 1280px;
}

.messages-container {
  float: left;
  width: 50%;
}

.messages-container .users {
  margin: 0 -5px -5px 0;
  overflow: hidden;
  padding: 6px;
}

.users span {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  float: left;
  margin: 0 5px 5px 0;
  padding: 5px;
  font-size: 13px;
}

.users span.active {
  background: #ddd;
  font-weight: bold;
}

.video-container {
  float: right;
  width: 50%;
}

.video-content {
  height: 360px;
  position: relative;
}

#player,
.video-content .controls {
  height: 360px;
  position: absolute; top: 0; left: 0;
  width: 100%;
}

.video-content .controls {
  z-index: 101;
  text-align: center;
}

.video-content .controls a {
  display: none;
  margin: 155px 0 0 0;
  color: #fff;
  font-size: 50px;
  line-height: 1;
}

.video-content .controls:hover {
  background: rgba(0, 0, 0, 0.75);
}

.video-content .controls:hover a {
  display: inline-block;
}

.tabs {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

.tabs .tab {
  float: left;
  width: 25%;
}

.tabs .tab.search {
  width: 50%;
}
